.map {
    height: 800px;
}

.btn button {
    font-size: 20px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}


.ol-popup-content {
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.ol-popup {
    width: 445px;
    height: 400px;
}

.form-select {
    color: gray
}

.form-select option {
    color: black
}